nav {
    height: 80px;
}

.header-bot {
    border-bottom: 0.5px solid gray;
}

.img-fluid {
    width: 60px;
    transform: scaleX(-1);
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

.carousel-control-prev-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/318/318476.png);
    transform: scaleX(-1);
}

.carousel-control-next-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/318/318476.png);
}

.navbar {
    padding: 0;
}

.navbar-nav #ranking a {
    text-decoration: none;
    color: blue;
}

.register {
    margin-top: 30px;
}

.register-form {
    margin: 0 50px;
    width: 50%;
}

.genero-checkbox {
    margin: 30px 0;
}

.pass {
    margin-bottom: 20px;
}

.beneficios {
    list-style-type: none;
}

.right-content {
    width: 35%;
}

.register-link {
    text-decoration: none;
    color: #000000;
}

.register-link h1 {
    font-weight: bolder;
    margin-bottom: 20px;
}

.adiclub a {
    color: #000000;
}

.adiclub p {
    margin: 30px 10px 0;
}

.rank {
    margin: 20px 0;
}

.table {
    margin: auto;
    width: 50%;
}

.text-bg-light {
    margin: auto;
    text-align: center;
    width: 50%;
}

.menu-lines{
    display: none;
    width: 35px;
}

.responsive-search {
    display: none;
    align-self: center;
    width: 20px;
    height: 20px;
}

footer {
    height: 50px;
    font-size: 20px;
    color: #c8cbcc;
    background-color: #363738;
    text-align: center;
    margin: 229px 0 0;
}

footer p {
    padding-top: 10px;
}

@media only screen and (max-width: 370px) {

    .header-margin {
        justify-content: space-around;
    }

    .register-link {
        display: none;
    }

    .search-input {
        display: none;
    }

    .form-check-input {
        height:20px;
        width:20px;
     }
  }

@media only screen and (max-width: 540px) {

    .header-margin {
        justify-content: space-around;
    }

    .menu-lines {
        display: flex;
    }

    .register-link {
        display: none;
    }

    .search-input{
        width: 70%;
    }
  }

  @media only screen and (max-width: 700px) { 

    .register {
        flex-wrap: wrap;
    }

    .child{
        width: 80%;
    }

    .child h1 {
        margin-top: 30px;
    }
  }

  @media only screen and (max-width: 995px) {

    .menu-lines {
        display: flex;
    }
    
    .d-flex button{
        display: none;
    }

    .navbar-nav{
        display: none;
    }

    .responsive-search {
        display: flex;
    }
  }